.button {
    text-decoration: none;
    background-color: #525252;
    padding: .63rem 1.25rem;
    border-radius: .25rem;
    color: #FFF;
    cursor: pointer;
    outline: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0 1rem; */
    font-size: 1rem;

    & .icon {
        display: flex;
        font-size: 1rem;
        color: #4BBF1E;
    }

    &:hover {
        background-color: rgba(0, 0, 0, .9);
        transition: all .3s linear;
    }

    &.green {
        background-color: #4bbf1e;

        &:hover {
            background-color: rgb(45, 160, 0);
            transition: all .3s linear;
        }

        & .icon {
            color: #FFF;
        }
    }

    &.transparent {
        background-color: transparent;
        color: #525252;

        & .icon {
            color: #525252;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .1);
            transition: all .3s linear;
        }
    }

    &.red {
        background-color: #ff0000;
        color: #FFF;

        & .icon {
            color: #FFF;
        }

        &:hover {
            background-color: rgb(160, 0, 0);
            transition: all .3s linear;
        }
    }

    &.thin {
        padding: .15rem .5rem;
        font-size: .75rem;
    }

    &.medium {
        padding: .5rem 1rem;
        font-size: .88rem;
    }

    &.trash {
        color: #ffffff;

        & .icon {
            color: #ff0000;
        }
    }

    &.transparent_red {
        color: #ff0000;
        background-color: transparent;

        & .icon {
            color: #ff0000;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .1);
            transition: all .3s linear;
        }
    }
}