header {
    background-color: #525252;
}

.navbar {
    width: 100%;
    max-width: 1300px;
    min-height: 3.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .25rem .75rem;
}

.list {
    list-style: none;
    display: flex;
    gap: .63rem;
    justify-content: right;
    align-items: center;
    margin: 0;

    & a {
        color: white;
        text-decoration: none;
        padding: .38rem .75rem;
        font-size: .88rem;
        border-radius: .25rem;
        display: flex;
        gap: .31rem;
        align-items: center;

        & svg {
            font-size: 1.13rem;
        }

        &.active {
            color: #4BBF1E;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            transition: all .5s;
        }
    }
}

.logo a {
    font-size: 1.5rem;
    color: #4BBF1E;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 580px) {
    .list {
        background-color: #525252;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3.75rem;
        justify-content: space-around;

        & a {
            flex-flow: column;
            padding: .38rem 1.13rem;
            &:hover {
                background-color: rgba(0, 0, 0, 0);
                color: #4BBF1E;
            }
        }
    }
}